@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --blue: #3ea1db;
    --blue-dark: #574ae8;
    --white: #fff;
    --title: #313131;
    --text: #646464;
    --linear: #b30808;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #f3f5f7;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.backToTop{
    position: fixed;
    bottom: 0;
    right: 30px;
    font-size: 40px;
    color: #fafafa;
    visibility: hidden;
    transform: translateY(100%);
    transition: 0.3s;
}

.backToTop.show{
    visibility: visible;
    bottom: 15px;
    transform: translateY(0);
}

.input-search {
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
}

.input-search i{
    font-size: 20px;
    position: absolute;
    left: 20px;
}

.input-search :where(input, textarea){
    width: 100%;
    padding: 20px 0 20px 70px;
    background-color: rgba(255, 255, 255, 0.993);
    border-radius: 5px;
    border: none;
    color: black;
    outline: none;
}

.input-search input::placeholder {
    font-family: 'Inter';
    color: var(--white);
    opacity: 0.7;
}

#header,
#footer {
    background: var(--linear);
    padding: 25px 200px;
    color: var(--white);
    font-family: 'Lexend deca';
    font-size: 16px;
}


#header {
    min-height: 150px;
}

#header .menu h2 {
    font-size: 24px;
    font-weight: 400;
    
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;
    border-bottom: 1px solid white;
}