.container-post {
    padding: 50px 250px;
    height: 80%;
}

.post {
    font-family: 'Lexend Deca';
    background-color: var(--white);
    border-radius: 5px;
    margin: 50px 0;
    padding: 0 25px;
    transition: .5s;
    top: 20%;
}

.post:hover {
    box-shadow: 5px 0 10px #ff000033;

}

.top-post span{
    font-size: 16px;
}

.content-post h3{
    color: var(--title);
    font-weight: 400;
}

.top-post, 
.content-post p{
    padding: 20px 0;
    color: var(--text);
}

.top-post i {
    color: var(--blue-dark);
    cursor: pointer;
}

.content-post p {
    font-size: 18px;
}